@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    background-color: #F0EDEE;
}

h1 {
    font-weight: 700;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.book-card {
    background-color: #F0EDEE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem;
}

.book-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.2rem;
}

.book-card p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
}

.btn {
    display: block;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.read {
    background-color: #47ff63;
    transition: background-color 0.3s ease;
}

.read:hover {
    background-color: #53d666;
}

.delete-book,
.not-read {
    background-color: #ff6347;
    transition: background-color 0.3s ease;
}

.delete-book:hover,
.not-read:hover {
    background-color: #e55342;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

form[data-form] {
    background-color: #FFF;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 31.25rem;
}

form[data-form] fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form[data-form] legend {
    font-size: 1.5rem;
    color: #008080;
    margin-bottom: 0.9375rem;
}

form[data-form] label {
    display: block;
    margin-top: 0.625rem;
    color: #708090;
}

form[data-form] input[type="text"],
form[data-form] input[type="date"],
form[data-form] select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3125rem;
    border: 1px solid #B3DDF2;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

form[data-form] input[type="submit"] {
    background-color: #008080;
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form[data-form] input[type="submit"]:hover {
    background-color: #006666;
}