@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    background-color: rgb(59 62 69);
    color: #F0EDEE;
}

h1 {
    font-weight: 700;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.book-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.book-card {
    display: flex;
    color: rgb(59 62 69);
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 200px;
    gap: 1rem;
    background-color: #e2e4e8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem;
}


.book-title {
    font-size: 1.2em;
    margin-bottom: 0.2rem;
}

.book-card p {
    font-size: 0.9em;

    line-height: 1.4;
    margin: 0;
}


.btn {
    display: block;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.add-book {
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.add-book:hover {
    background-color: #0056b3;
}

.read {
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.read:hover {
    background-color: #0056b3;
}

.not-read {
    background-color: #fd7e14;
    transition: background-color 0.3s ease;
}

.not-read:hover {
    background-color: #d76a00;
}

.delete-book {
    background-color: #ff6347;
    transition: background-color 0.3s ease;
}

.delete-book:hover {
    background-color: #e55342;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.847);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

form[data-form] {
    background-color: #FFF;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 31.25rem;
}

form[data-form] fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form[data-form] legend {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 0.9375rem;
}

form[data-form] label {
    display: block;
    margin-top: 0.625rem;
    color: rgb(59 62 69);
}

form[data-form] input[type="text"],
form[data-form] input[type="date"],
form[data-form] select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3125rem;
    border: 1px solid rgba(59, 62, 69, 0.395);
    border-radius: 0.25rem;
    box-sizing: border-box;
}

form[data-form] input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form[data-form] input[type="submit"]:hover {
    background-color: #0056b3;
}

form[data-form] .radio-group label {
    margin: 0;
}

form[data-form] .radio-group {
    display: flex;

}

#read {
    display: flex;
    gap: 2rem;
}